:root {
  --bg-color: #FFFFFF;
  --bg-color-dark: #000000;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color);
  font-family: 'Waiting for the Sunrise', sans;
  text-align: center;
  margin: 0;
  padding: 0;
  user-select: none;
  min-height: 100vh;
}

.dark-mode {
  background-color: var(--bg-color-dark);
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .heading-text {
  font-size: 2rem;
  text-decoration: underline;
  width: calc(100% - 5rem);
  padding-left: 5rem;
}

header .dark-mode-container {
  background-color: white;
  width: 3rem;
  aspect-ratio: 2;
  margin: 0 1rem 0 1rem;
  border: 0.2rem solid grey;
  border-radius: 1rem;
}

header .dark-mode-button {
  background-color: black;
  width: 56%;
  aspect-ratio: 1;
  border-radius: 1rem;
  transition: all 100ms;
}

.dark-mode header .dark-mode-button {
  margin-left: 50%;
}

footer div {
  font-size: 1.6rem;
  width: 100%;
}

footer span {
  text-decoration: underline;
}

footer span:hover {
  cursor: pointer;
}

.dummy-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  /* shoule be close to the aspect-ratio of the graphs */
  aspect-ratio: 2;
}

.p5Graph {
  display: flex;
  margin: 0.2rem;
  border-radius: 0.5rem;
}

.graph-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* media queries for device type specific sizing properties */

@media only screen and (max-width: 799px) {
  .p5Graph {
    width: 92vw;
  }
  
  .graph-container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 800px) {
  .p5Graph {
    width: 48vw;
  }
  
  .graph-container {
    flex-wrap: wrap;
  }
}

/* for mobiles and tablets, remove the blue highlight box from links */
@media only screen and (max-width: 1200px) {
  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
}

@media only screen and (min-width: 1200px) {
  .p5Graph {
    width: 32vw;
  }
  
  .graph-container {
    flex-wrap: wrap;
  }
}
