:root {
  --bg-color: #FFFFFF;
  --bg-color-dark: #000000;

  --transition-duration: 400ms;

  --dark-mode-toggle-size: 2em;
  --dark-mode-toggle-transition: 600ms;
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
  user-select: none;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color);
  font-family: 'Waiting for the Sunrise', sans;
  text-align: center;
  margin: 0;
  padding: 0;
  user-select: none;
  min-height: 100vh;
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

html.dark-mode body {
  background-color: var(--bg-color-dark);
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1em;
  border-bottom: 0.1em solid;
  padding: 0.5em 1em;
}

header .heading-text {
  font-size: 2rem;
}

#dark-mode-toggle {
  display: flex;
  width: var(--dark-mode-toggle-size);
  height: var(--dark-mode-toggle-size);
  cursor: pointer;
  fill: black;
}

#dark-mode-toggle svg {
  aspect-ratio: 1;
  object-fit: contain;
}

#dark-mode-toggle .outer-star {
  transition: transform var(--dark-mode-toggle-transition) cubic-bezier(0.59, 0.02, 0, 1.26) 0s, fill var(--dark-mode-toggle-transition);
}

#dark-mode-toggle .inner-dot {
  transition: transform var(--dark-mode-toggle-transition) ease 0s, fill var(--dark-mode-toggle-transition);
  transform: matrix(1, 0, 0, 1.5, -3, 0);
}

html.dark-mode #dark-mode-toggle {
  fill: white;
}

html.dark-mode #dark-mode-toggle .outer-star {
  transform: rotate(180deg);
}

html.dark-mode #dark-mode-toggle .inner-dot {
  transform: matrix(1, 0, 0, 1, 0, 0);
}

footer div {
  font-size: 1.6rem;
  width: 100%;
}

footer span {
  text-decoration: underline;

  /* transition: color 100ms; /* why isn't this working for color, because `body { has transition too }` */
}

footer span:hover {
  color: royalblue;
  cursor: pointer;
}

.dummy-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  /* shoule be close to the aspect-ratio of the graphs */
  aspect-ratio: 2;
}

.p5Graph {
  display: flex;
  margin: 0.2rem;
  border-radius: 0.5rem;
}

.graph-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0;
}

/* media queries for device type specific sizing properties */

@media only screen and (max-width: 799px) {
  header .heading-text {
    font-size: 1.6em;
  }

  .p5Graph {
    width: 92vw;
  }
  
  .graph-container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 800px) {
  .p5Graph {
    width: 48vw;
  }
  
  .graph-container {
    flex-wrap: wrap;
  }
}

/* for mobiles and tablets, remove the blue highlight box from links */
@media only screen and (max-width: 1200px) {
  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
}

@media only screen and (min-width: 1200px) {
  .p5Graph {
    width: 32vw;
  }
  
  .graph-container {
    flex-wrap: wrap;
  }
}
